@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin:0;
    padding:0;
    list-style: none;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    font-family: 'Poppins', sans-serif;
    background-color: rgba(204, 171, 171, 0.495);
}
.navbar{
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
}
nav{
    background-color: black;
}
a , li a {
    color: white;
}
.nav-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap:60px;
}
.nav-branding{
    font-size: 3rem;
    color: whitesmoke;
}
.nav-branding:hover{
    color: grey;
    transition: 0.5s ease-in-out;
}
.nav-link{
    transition:0.7 ease;
}
.nav-link:hover{
    color: grey;
    transition: 0.5s ease-in-out;
    
}
.hamburger{
    display: none;
    cursor: pointer;
}
.bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background-color: white;
}
.home-section{
    display: flex;
    flex-direction: column;
    gap: 40px;
    min-height: 100vh;
    width: 50%;
    /* margin: 30px auto; */
    padding: 70px 100px 0 100px;
}
.home-section #hello{
    font-size: 2.5rem;
    font-weight: 300;
}
.para1 p{
    width: 150%;
    font-size: 2.5rem;
    font-weight: 300;
}
.mail{
    width: 120%;
    font-size: 1.3rem;
}
#hand{
    display: inline-block;
    position: relative;
    font-size: 19px;
    bottom: 3px;
    padding-right: 5px;
}
.mail #mailId{
    border-bottom: 3px solid #000;
    cursor: pointer;
}
#mailId:hover{
    background-color: #000;
    color: #fff;
    transition: 0.5s ease;
    padding: 5px 5px 0 5px;
}
.about-section{
   min-height: 90vh;
   margin: 0 100px;
   padding: 50px 100px 0 100px;
   display: flex;
   gap: 20px;
}
.about-para{
    padding-left: 2rem;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.skills{
    position: absolute;
    top: 157%;
    left: 24%;
    display: flex;
    gap: 50px;
}
.tools{
    position: relative;
    top: 15.8em;
    right: 16em;
    width: 200%;
}
#clg , #learning{
    font-weight: 600;
    word-spacing: 5px;
}
.title{
    font-weight: 500;
    letter-spacing: 1px;
    font-size: 1.2rem;
}
.title{
    font-size: 1.2rem;
    font-weight: 500;
}
.t-skills{
    position: relative;
    top: 13em;
    right: 34em;
}
.skills-title{
    color: #000;
    font-weight: 600;
    padding-bottom: 5px;
    letter-spacing: 2px;
}
.resume{
    position: relative;
    top: 30em;
    right: 52em;
    width: 450px;
    height: max-content;
    background-color: #000;
    text-align: center;
    border-radius: 15px;
    padding: 5px 0;
    cursor: pointer;
    font: 1.2rem;
}
.resume:hover{
    background-color: #6b6969;
}
.resume:hover a{
    color:#000;
}
.resume #arrow{
    font-size: 1.7rem;
    width: 20px;
    height: 50px;
    position: relative;
    left: 5px;
    top: 2px;
}
.resume a{
    position: relative;
    bottom: 3px;
}
@media screen and (max-width:768px){
    .nav-branding{
        font-size: 2rem;
    }
    .sticky {
        position: fixed;
        top: 0;
        width: 100%;
      }
      .sticky + .sectionTotal {
        padding-top: 60px;
      }
    .hamburger{
        display: block;
    }
    .nav-menu{
        background-color: black;
    }
    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }
    .nav-menu{
        position: fixed;
        left:-100%;
        top: 70px;
        gap: 0;
        flex-direction: column;
        width: 100%;
        text-align: center;
        transition: 0.3s;
        border-top: 1px solid grey;
    }
    .nav-item{
        margin: 16px 0;
    }
    .nav-menu.active{
        left: 0;
    }

    .home-section{
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 80px;
        align-items: start;
        padding: 60px 50px 0 50px;
        min-height: 90vh;
    }
    #hello{
        font-size: 2rem;
        font-weight: 300;
    }
    .para1 p{
        width: 95%;
        font-size: 1.5rem;
        font-weight: 300;
    }
    .para1 span{
        font-weight: 500;
    }
    .mail{
        width: 100%;
        font-size: 1rem;
    }
   
    .about-section{
        margin: 0;
        padding: 50px 50px 0 50px;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        gap: 20px;
        width: 100%;
    }
    .about-para{
        width: 100%;
        padding-left: 40px;
        line-height: 30px;
        font-size: 1.05rem;
        display: flex;
        flex-direction: column;
        gap: 30px;
    }
    .skills{
        position: inherit;
        display: flex;
        gap: 10px;
    }
    .t-skills{
        position: inherit;
    }
    .languages,.tools{
        padding: 0 40px;
    }
    .tools{
        width: 100%;
        position: inherit;
    }
    .languages ul li , .framework ul li , .tools ul li{
        font-weight: 300;
        line-height: 30px;
    }
    .resume{
        position: inherit;
        width: 150px;
        height: 50px;
    }
}